.item{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 200px;
    height: 300px;
    background-color: rgb(224, 224, 224);
    border-radius: 10pt;
}

.item img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 25px;
}

.item p{
    margin-top: 1rem;
}